body {line-height: 1.5; width: 60%;
 margin: 65px; background-color: #f1f0e8;
}

h1 { font-size:50px; color: #6BCAD0; text-align: center; } 

.second {font-size: 40px; color:#A3DEE2; font-style: italic; text-align: center;}

h2 { font-size: 20px; color: #6BCAD0;}

.about {text-align: right;}
img {float: left; width: 200px; height: 200px;}